.scrollable-list {
  max-height: 300px; /* Responsive limit: max 50% of viewport height */
  overflow-y: auto;
}
:host {
  width: 100%;
  height: calc(100% - 10px);
}
.value-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .text {
    font-size: 14px;
    color: #979797;
  }
  .value {
    font-size: 24px;
    font-weight: 400;
  }
}
.chart-content {
  height: 216px;
}
.custom-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100px; /* Adjust as needed */
  align-items: center; /* Ensures vertical alignment */
}

.list-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-stats {
  text-align: right;
}

.tx-primary {
  color: #3f51b5; /* Material Primary Color */
}
.progress-bar-custom {
  width: 400px;
  height: 12px; /* Adjust height if needed */
}
