<app-dashboard-card-layout>
  <div class="dashboard-card-header">
      <div class="dashboard-card-title-subtitle">
          <div class="dashboard-card-title">
            Fuel Volume discrepancy
          </div>
          <div class="dashboard-card-subtitle">
            Compare between starting and ending volume with all operations applied
          </div>
      </div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Select Stations</mat-label>
        <mat-select [formControl]="myControl">
          <mat-option [value]="null">Overall</mat-option>
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option.name}}</mat-option>
          }
        </mat-select>

      </mat-form-field>
  </div>


  <div class="dashboard-card-content">

    @if (loading()) {
      <app-simple-loader></app-simple-loader>
  }
    <div class="chart-content" *ngIf="!loading()">
      <div class="points-container">
        <!-- Start Point -->
        <div class="point">
          <div class="point-label">{{ report()?.startingVolume | number : '1.0-0'  }} L</div>
          <div class="start-circle"></div>
          <div class="line-label lower-label-date">{{ dateFilter().startDate | date:'yyyy-MM-dd' }}</div>

        </div>

        <!-- Line -->
        <div class="line-container">
          <div class="line"></div>
          <div class="line-label upper-label">
            Distributing
            <mat-icon style="color: #EA3323;">
              north
            </mat-icon>&nbsp;
            {{ report()?.totalDistributionDispensedAmount | number : '1.0-0'  }}
          </div>

          <div class="line-label lower-label">
            &nbsp; &nbsp;&nbsp;&nbsp;Filling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <mat-icon style="color: #75FB4C;">
              south
           </mat-icon>&nbsp;
           {{ report()?.totalFillmentDispensedAmount | number : '1.0-0'  }}
         </div>
        </div>

        <!-- End Point -->
        <div class="point">
          <div class="point-label">{{ report()?.endingVolume | number : '1.0-0' }} L</div>
          <div class="end-circle"></div>
          <div class="line-label lower-label-date">{{ dateFilter().endDate | date:'yyyy-MM-dd' }}</div>

        </div>

      </div>

      <div class="line-container" style="display: flex; flex-direction: row;">
        <mat-icon style="color: rgb(220, 53, 69);margin: 5px;">report</mat-icon>
         <span>
          Operations Vs. current measurement discrepancy :
          {{report()?.totalDisrepancies| number : '1.0-0'}} L
        </span>
      </div>

    </div>

          <div>

      </div>

  </div>

</app-dashboard-card-layout>
