@use '@angular/material' as mat;
:host {
    width:100%;
    height:calc(100% - 10px);
}
.dashboard-card {
    width:100%;
    height:100%;
    background-color: #fff;
    border-radius: 2px;
    @include mat.elevation(0);
    border: 1px #CDD4E0 solid;
    display: flex;
    flex-direction: column;
    
}
::ng-deep .dashboard-card-title-subtitle {
    display: flex;
    flex-direction: column;
}
::ng-deep .dashboard-card-header {
    padding: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
::ng-deep .dashboard-card-title {
    font-weight: bolder;
}
::ng-deep .dashboard-card-info {
    padding: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
::ng-deep .dashboard-card-content {
    height: 100%;
}