<mat-card class="dashboard-card">
        <ng-content select=".dashboard-card-header">
            <ng-content class=".dashboard-card-title-subtitle">
                    <ng-content select=".dashboard-card-title">
                    </ng-content>
                    <ng-content select=".dashboard-card-subtitle">
                    </ng-content>
            </ng-content>
        </ng-content>
        <ng-content select=".dashboard-card-info">
                
        </ng-content>
        <ng-content select=".dashboard-card-content">

        </ng-content>
</mat-card>
