<div class="dashboard-header">
  <div class="dashboard-header-title">
    <h2>Hi, welcome back!</h2>
    <p>Fuel analysis dashboard</p>
  </div>
  <div class="dashboard-header-right">
    <div class="date-control">
      <p>START DATE</p>
      <h5>{{ dateForm.value.startDate | date }}</h5>
    </div>
    <div class="date-control">
      <p>END DATE</p>
      <h5>{{ dateForm.value.endDate | date }}</h5>
    </div>
    <div class="date-control">
      <p>THRESHOLD</p>
      <h5>{{ dateForm.value.threshold }}</h5>
    </div>
    <button mat-flat-button (click)="openDateDialog()">Filters</button>
  </div>
</div>

@if(!loading()) {
<mat-grid-list
  rowHeight="200"
  [cols]="cols()"
  gutterSize="20"
  *ngFor="
    let tenant of (accountService.authData$ | async)?.userInfo?.tenantAccesses
  "
>
  <ng-container
    *ngIf="
      getComponentStyle('FuelAvailabilityChartReportComponent') | async as style
    "
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group1']) | async"
    >
      @defer (on viewport) {
      <app-fuel-availability-chart-report [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="
      getComponentStyle('DailyFuelAvailabilityCardComponent') | async as style
    "
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group1']) | async"
    >
      @defer (on viewport) {
      <app-daily-fuel-availability-card [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="getComponentStyle('AlarmTypesCardComponent') | async as style"
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group2']) | async"
    >
      @defer (on viewport) {
      <app-alarm-types-card [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="getComponentStyle('DailyLeackageCardComponent') | async as style"
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group2']) | async"
    >
      @defer (on viewport) {
      <app-daily-leackage-card [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="getComponentStyle('SmallStationCardsComponent') | async as style"
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group3']) | async"
    >
      @defer (on viewport) {
      <app-small-station-cards [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="getComponentStyle('FuelDiscrepancyCardComponent') | async as style"
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group2']) | async"
    >
      @defer (on viewport) {
      <app-fuel-discrepancy-card [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="getComponentStyle('CityExpectedFuleComponent') | async as style"
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group1']) | async"
    >
      @defer (on viewport) {
      <app-city-expected-fule [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="getComponentStyle('UnacceptedVolumeCardComponent') | async as style"
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group1']) | async"
    >
      @defer (on viewport) {
      <app-unaccepted-volume-card [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>

  <ng-container
    *ngIf="
      getComponentStyle('SuppliersPerformanceCardComponent') | async as style
    "
  >
    <mat-grid-tile
      [rowspan]="style?.rows"
      [colspan]="style?.cols"
      *ngIf="accountService.hasRole$(['Admin', 'Group1']) | async"
    >
      @defer (on viewport) {
      <app-suppliers-performance-card [dateFilter]="dateFilter()" />
      } @placeholder {
      <div>Loading Component</div>
      }
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
}
